body {
    margin: 0px;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(236,160,205,1) 0%, rgba(221,162,169,1) 30%, rgba(191,131,223,1) 50%, rgba(226,121,171,1) 80%, rgba(244,218,214,1) 100%);

}
/*navbar*/
.nav-container {
    position: sticky;
    z-index: 3;
    top:0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
 background-color: rgb(206, 12, 164);
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color:bisque;
    margin-top: 4vh;
    cursor: pointer;
}

.ver-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor: pointer;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url("https://i.ytimg.com/vi/QG79v_GRccc/maxresdefault.jpg");
} 


.banner-container {
    text-align: right;
    padding: 8% 0;
    margin-right: 230px;
}

.baner h1{
    margin: 0px;
    color: rgb(220, 28, 220);
    text-shadow: 1px 1px 3px rgba(196, 15, 196, 0.2);
    font-size: 200px;
    font-weight: bold;
    text-align: right;
}

.banner p {
    font-size: 130px;
    color: rgb(214, 9, 9);
    opacity: 0.7;
    font-weight: bold;
}

.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: rgba(108, 117, 244, 0.751);
}

.card > img {
    width: 90%;
    height: 250px;
}

.price {
    color: rgb(78, 37, 228);
    font-size: 20px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover{
    opacity: 0.7;
}

/*modal estilos*/
.modal-container {
    width: 40%;
    background-color: rgb(245, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10 10%;
    max-height: 50vh;
    color:rgb(162, 110, 31);
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(163, 33, 33);
    color: antiquewhite;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 8px;
}

.modal-container > div > img {
    height: 110px;
    width: 110px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

