body {
    margin: 0px;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(236,160,205,1) 0%, rgba(221,162,169,1) 30%, rgba(191,131,223,1) 50%, rgba(226,121,171,1) 80%, rgba(244,218,214,1) 100%);

}
@media (max-width: 480px){
    .modal-container {
        display: inline-block;
        justify-content: space-around;
        align-items: column;
        padding: 1rem;
        margin: 1rem
    }
}
/*navbar*/
.nav-container {
    position: sticky;
    z-index: 3;
    top:0;
}
.navbar {
    display: flex;
    justify-content: space-between;
  padding: 10px;
 background-color: rgb(192, 36, 70);
}
.navbar h3{
    color:blanchedalmond
}
.navbar-logo {
    justify-self: start;
    margin-left: 10px;
    color:bisque;
    margin-top: 4vh;
    cursor: pointer;
}

@media (max-width: 480px){
    .nav-container {
        display: inline-block;
        justify-content: space-around;
        align-items: column;
        padding: 1rem;
        margin: 1rem
    }
}

.ver-carrito {
    font-size: 25px;
    margin-left: 5px;
    margin-top: 4vh;
    cursor: pointer;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-image: url("https://i.ytimg.com/vi/QG79v_GRccc/maxresdefault.jpg");
} 


.banner-container {
    text-align: right;
    padding: 8% 0;
    margin-right: 230px;
}

.baner h1{
    margin: 0px;
    color: rgb(220, 28, 220);
    text-shadow: 1px 1px 3px rgba(196, 15, 196, 0.2);
    font-size: 200px;
    font-weight: bold;
    text-align: right;
}

.banner p {
    font-size: 130px;
    color: rgb(214, 9, 9);
    opacity: 0.7;
    font-weight: bold;
}

.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aliceblue;
    background-color: rgb(192, 36, 70);
    border-radius: 8%;
}

.card > img {
    width: 90%;
    height: 250px;
}

.price {
    color: rgb(200, 192, 228);
    font-size: 20px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(238, 35, 204);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover{
    opacity: 0.7;
}

/*modal estilos*/
.modal-container {
    width: 50%;
    background-color: rgb(235, 101, 130);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60vh;
    color:white;
    position: fixed;
    overflow: auto;
    z-index: 10;
    top: 22vh;
    scrollbar-color: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(228, 171, 225);
    color:rgb(235, 69, 69);
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-top: 8px;
}

.modal-container > div > img {
    height: 110px;
    width: 110px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-product {
    cursor: pointer;
}
